<div class="addNewTaskC">
    <div class="addNewTaskIC">
        <div class="addNewTaskLC">
            <button type="button" class="addTaskTitle" ng-if="activeDay != activeDayIx + 1">+ Choose date first..</button>
            <button type="button" class="addTaskTitle" ng-disabled="!data.description" ng-click="createTask(data);"
            	ng-if="activeDay == activeDayIx + 1">+ Add new tasks..</button>
        </div>
        <div class="addNewTaskRC">
            <input type="" class="addNewTaskInput" ng-model="data.description" />
        </div>
    </div>
</div>