<div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar">
    <div class="logoImg"></div>
    <h1 class="app-name">Open Business Solutions</h1>
    <div class="scrollable">
        <div class="scrollable-content">
            <div class="list-group" toggle="off" bubble target="mainSidebar">
                <a class="list-group-item notif" ui-sref="notifications">Notifications
                    <i class="fa fa-chevron-right pull-right notifCircle" ng-if="tasksAmountInToday != 0">
                        <span class="notifCircleValue">{{tasksAmountInToday}}</span>
                    </i>
                </a>
                <a class="list-group-item memb" ui-sref="members">Members</a>
                <a class="list-group-item cald" ui-sref="calender">Calender</a>
                <hr />
                <a class="list-group-item board">
                    Boards
                    <i class="fa fa-chevron-right pull-right bcp"></i>
                </a>
                <a class="list-group-item kanban">Personal Kanban</a>
                <hr />
                <a class="list-group-item logout" ng-click="logout();">Logout</a>
                <hr />
            </div>
        </div>
    </div>
</div>

<div class="app">
    <!-- Navigation Container -->
    <div class="navbar navbar-app navbar-absolute-top">

        <div class="btn-group pull-left">
            <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
                <i class="fa fa-bars lpbButton"></i>
                <span class="lpbTtitle">Personal Board</span>
            </div>
        </div>

        <div class="btn-group pull-right">
            <div class="btn btn-navbar">
                <img src="img/1.png" alt="" class="navIconSize downCircleArrow"
                     ng-click="isShowLaneActionBox=!isShowLaneActionBox" />
                <img src="img/2.png" alt="" class="navIconSize circlePlus" ng-click="isShowCreateTaskBox=true" />
            </div>
        </div>
        
    </div>

    <div class="popupMenuBox" id="aboutLane" ng-show="isShowLaneActionBox"
         ng-init="isShowCreateLaneBox=false" ng-click="isShowLaneActionBox=false">
        <div class="trangleBorder"></div>
        <div class="trangleBody"></div>
        <div class="menuBox">
            <div class="laneItem borderBottom" ng-click="redirectTo('/ttv');">
                View All
            </div>
            <div class="laneItem" ng-click="isShowCreateLaneBox=true">
                Add Lane
            </div>
        </div>
    </div>

    <div class="createLaneBox" ng-show="isShowCreateLaneBox">
        <div class="createLane">
            <div class="createLaneTitle">Create Lane</div>
            <span class="createLaneName">Lane Name</span>
            <input class="laneNameValue" type="text" ng-model="project.description" />
            <div class="createLaneConfirmBox">
                <span class="btn btn-primary createLaneOK" ng-click="createProject(); isShowCreateLaneBox=false">Ok</span>
                <span class="btn btn-default createLaneCancel" ng-click="isShowCreateLaneBox=false">Cancel</span>
            </div>
        </div>
    </div>

    <div class="createLaneBox" ng-show="isShowCreateTaskBox">
        <div class="createLane">
            
            <div class="createTaskTitleC">
                <span>Create Task</span>
            </div>        
            <div class="taskNameC">
                <div class="taskName">Task Name</div>
                <input type="text" ng-model="data.title" />
            </div>
            <div class="taskDescC">
                <div class="taskDesc">Description</div>
                <input class="taskDescInput" type="text" ng-model="data.description" />
            </div>
    
            <div class="assignToC">
                <div class="assignToTitle">Assign To:</div>
                <div class="assignToDropdownBox">
                    <button class="assignToButton" ng-click="selectTaskOwner();">{{taskOwner}}</button>
                </div>
            </div>

            <div class="createLaneConfirmBox">
                <span class="btn btn-primary createLaneOK" ng-disabled="!data.description"
                      ng-click="createTask(); clearTaskCreationScene();">Ok</span>
                <span class="btn btn-default createLaneCancel"
                      ng-click="clearTaskCreationScene();">Cancel</span>
            </div>
        </div>
    </div>
    
    <div class="titleC" ng-include="titleTpl.url"></div>
    <div class="taskC" ng-include="taskListTpl.url"></div>
    
</div>