<div class="title">{{activeLane}}</div>
<div class="titleValue">{{activeTasks.length}}</div>
<div class="threeHLine navIconSize" ng-init="isH = true">
    <img src="img/27.png" alt="" ng-show="isH" ng-click="isH = !isH; changeTaskListView();"/>
    <img src="img/29.png" alt="" class="threeVLine" ng-show="!isH" ng-click="isH = !isH; changeTaskListView();"/>
</div>
<div class="downGt navIconSize" ng-init="isShowViewLaneBox = false" ng-click="isShowViewLaneBox = !isShowViewLaneBox">
    <img src="img/3.png" alt="" />
</div>

<div class="popupMenuBox" id="viewLane" ng-show="isShowViewLaneBox" ng-click="isShowViewLaneBox = false">
    <div class="trangleBorder"></div>
    <div class="trangleBody"></div>
    <div class="menuBox">
        <div class="laneItem borderBottom" 
             ng-if="$index != lanes.length - 1" ng-click="switchToLane(lane);" bindonce ng-repeat="lane in lanes"
        >
            {{lane}}
        </div>
        <div class="laneItem" 
             ng-if="$index == lanes.length - 1" ng-click="switchToLane(lane);" bindonce ng-repeat="lane in lanes"
        >
            {{lane}}
        </div>
    </div>
</div>