<div class="notifItemC">
    <div class="notifLAvatorC">
        <div class="notifUserAvatorBox">
            <img class="notifUserAvator" src="img/14.png" alt="" />
        </div>
    </div>
    <div class="notifRConC">
        <span class="notifAllTitle">There are {{allTasksAmount}} tasks need to be done.</span>
    </div>
</div>