.navbar-absolute-top {
    height: 110px;
}

.app {
    background-color: #e8e8e8;
}

.navbar-absolute-top {
    background-color: #231f20;
}

.fa-bars:before, .fa-navicon:before, .fa-reorder:before {
    content: none;    
}

.navbar-app .btn, .navbar-app .btn-navbar {
    color: #fffffd;
}

.app-name {
    line-height: 190%;
    float: left;
    width: 80%;
    margin-top: 35px;
}

.app-name+.scrollable, .sidebar-header+.scrollable {
    padding-top: 108px;
}

.sidebar {    
    background-color: #1d1d41;
}

.scrollable-content {
    background-color: #24255d;
    border-top: 1px solid #505170;
    border-left: 1px solid #505170;
    padding-top: 15px;
}

.scrollable-content .list-group .list-group-item {
    background-color: #24255d;
    border: none;
    font-size: 26px;
    padding-left: 60px;
    margin-left: 20px;
    line-height: 260%;
    color: #fafafb;
}

.scrollable-content .list-group hr {
    border: 0;
    background-color: #303589;
    height: 2px;
}

.fa-chevron-right:before {
    content: none;
}

.fa-times-circle-o:before {
	content: none;
}

.fa-cog:before, .fa-gear:before {
    content: none;
}

.overlay .overlay-inner>.overlay-content>.overlay-body {
    vertical-align: top;
}



#invoice_date_input {
    position: absolute;
    width: 65%;
    height: 70px;
    left: 20%;
    top: 15px;
    font-size: 28px;  
}