.dropdownKit {
	position: absolute;
	width: 100%;
	z-index: 99999;
}

.selectedItemBody {
	height: 70px;
	width: 95%;
	border: 1px solid #333333;
	background-color: #ffffff;
	margin-left: 15px;
}

.selectedItemValue {
	padding: 13px 0 0 5px;
	position: relative;
}

.dropdownArrow {
	position: absolute;
	right: 5px;
	top: 25px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #333333;
}

.selectItems {
	display: block;
	border: 1px solid #333333;
	margin: 3px 0 0 15px;
	background-color: #ffffff;
	z-index: 99999;
	width: 95%;
}

.selectItem {
	display: block;
	margin: 15px 0 15px 8px;
}