<div class="dayConC" ng-swipe-left="goNextMonth();" ng-swipe-right="goPreMonth();">
    <!-- Should be iterated -->
    <div class="dayItemC" bindonce ng-repeat="day in tasksForEveryDayInActiveMonth.preMonth.days">
        <div class="dayItem dayDisabled">{{day}}</div>
    </div>
    <div class="dayItemC"
         bindonce ng-repeat="day in tasksForEveryDayInActiveMonth.activeMonth.days"
         ng-click="setActiveDate($index, {{day}});"
    >
        <div class="dayItem">
            {{day}}
            <div class="taskClickTag" ng-show="$index == activeDayIx"></div>
            <div class="taskTag" ng-if="tasksForEveryDayInActiveMonth.activeMonth.tasks[$index].length > 0"></div>
        </div>
    </div>
    <div class="dayItemC" bindonce ng-repeat="day in tasksForEveryDayInActiveMonth.nextMonth.days">
        <div class="dayItem dayDisabled">{{day}}</div>
    </div>
</div>