<div class="app">

    <div class="navbar navbar-app navbar-absolute-top memberTopBar">

        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <i class="fa fa-bars memberGoBackButton" ng-click="redirectTo('/pb');"></i>
            </div>
        </div>
        
        <span class="topBarTitle">Members</span>

        <div class="btn-group pull-right">
            <div class="btn btn-navbar">
                <!-- Screen out temporarily
                <img src="img/22.png" alt="" class="navIconSize memCircleDownArrow"
                     ng-click="isShowUserEditMenu = !isShowUserEditMenu" />
                -->
                <img src="img/19.png" alt="" class="navIconSize memCirclePlus" ng-click="setSelectedUser();" />
            </div>
        </div>
    </div>
    
    <div class="popupMenuBox" ng-init="isShowUserEditMenu = false" ng-show="isShowUserEditMenu">
        <div class="trangleBorder"></div>
        <div class="trangleBody"></div>
        <div class="menuBox">
            <div class="editItem">Edit</div>
            <div class="deleteItem">Delete</div>
        </div>
    </div>
    
    <div class="userListC">
        <div class="wrapper" id="userListWrapper">
            <div class="scroller">
                <div class="userItemC" bindonce ng-repeat="user in allUserArray" ng-click="setActiveUser($index, user);">
                    <div class="userConCTRB">
                        <div class="userAvatorBox">
                            <img class="userAvator" src="img/14.png" alt="" ng-onload selector-id="userListWrapper"  />
                        </div>                
                        <div class="userName">{{user}}</div>
                        <!-- 
                        <div class="userRole">User Role</div>
                        -->
                    </div>
                    <img src="img/green-arrow.png" class="userSelectedTag" ng-if="activeIx==$index" alt="">
                </div>
            </div>
        </div>
    </div>
</div>