<div class="wrapper" id="taskSLWrapper" ng-if="activeTasks.length != 0">
    <div class="scroller">
        <div class="taskItemC taskItemLC"
            ng-swipe-left="goPrevLane();"
            ng-swipe-right="goNextLane();"
            bindonce ng-repeat="task in activeTasks track by $index"
        >
            <div class="blue tasklsb" ng-if="task.status == 'tbp'"></div>
            <div class="tasklsb red" ng-if="task.status == 'p'"></div>
            <div class="tasklsb green" ng-if="task.status == 'ip'"></div>
            
            <div class="tslb">
                <div class="taskTitle">{{task.description}}</div>
                
                <div class="taskStatus circle blue" ng-if="task.status == 'tbp'">TP</div>            
                <div class="taskStatus circle red" ng-if="task.status == 'p'">P</div>            
                <div class="taskStatus circle green" ng-if="task.status == 'ip'">IP</div>

                <div class="completeTime" id="navSimpleListCT" ng-if="task.status == 'd'">
                    <span>Completed on </span>
                    <span>{{task.data.dueDate | amDateFormat: "ddd, DD MMM YYYY, h:mm:ss a"}}</span>
                </div>
                
                <img src="img/blank.png" alt="" ng-onload selector-id="taskSLWrapper" />
            </div>
        </div>
    </div>
</div>
<div class="noTaskForDay" ng-if="activeTasks.length == 0" ng-swipe-left="goPrevLane();" ng-swipe-right="goNextLane();">
    There is no task here...
</div>