<div class="app">

    <div class="navbar navbar-app navbar-absolute-top">

        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <i class="fa fa-bars ttCloseButton" ng-click="redirectTo('/pb');"></i>
                <span class="lpbTtitle">Personal Board</span>
            </div>
        </div>

        <div class="btn-group pull-right">
            <div class="btn btn-navbar">
                <img src="img/1.png" alt="" class="navIconSize downCircleArrow" />
                <img src="img/2.png" alt="" class="navIconSize circlePlus" />
            </div>
        </div>
    </div>
    
    <div class="tTaskSummaryC" ng-swipe-left="goToPrevTwoLanes();" ng-swipe-right="goToNextTwoLanes();">
        <div class="lTSC">
            <div class="lTSTC">
                <div class="title">{{lanes[0]}}</div>
                <div class="titleValue">{{activeLaneLeft.length}}</div>
            </div>
            <div class="wrapper" id="lTSWrapper" ng-if="activeLaneLeft.length != 0">
                <div class="scroller">
                    <div class="taskItemC taskItemLC taskItemSLC" bindonce ng-repeat="task in activeLaneLeft">
                        <div class="noNavTSLB">
                            <div class="taskTitle">{{task.description}}</div>

                            <div class="taskStatus circle blue" ng-if="task.status == 'tbp'">TP</div>            
                            <div class="taskStatus circle red" ng-if="task.status == 'p'">P</div>            
                            <div class="taskStatus circle green" ng-if="task.status == 'ip'">IP</div>            
                            <div class="completeTime" ng-if="task.status == 'd'">
                                <span>Completed on </span>
                                <span>{{task.dueDate | amDateFormat: "ddd, DD MMM YYYY, h:mm:ss a"}}</span>
                            </div>

                            <img src="img/blank.png" alt="" ng-onload selector-id="lTSWrapper" />
                        </div>
                    </div>
                    <!-- Please do not remove this blank 'div', fix a layout bug. -->
                    <div class="taskItemC taskItemLC taskItemSLC"></div>
                </div>
            </div>
        </div>
        <div class="rTSC">
            <div class="rTSTC">
                <div class="title">{{lanes[1]}}</div>
                <div class="titleValue">{{activeLaneRight.length}}</div>
            </div>
            <div class="wrapper" id="rTSWrapper" ng-if="activeLaneRight.length != 0">
                <div class="scroller">
                    <div class="taskItemC taskItemLC taskItemSLC" bindonce ng-repeat="task in activeLaneRight">
                        <div class="noNavTSLB">
                            <div class="taskTitle">{{task.description}}</div>

                            <div class="taskStatus circle blue" ng-if="task.status == 'tbp'">TP</div>            
                            <div class="taskStatus circle red" ng-if="task.status == 'p'">P</div>            
                            <div class="taskStatus circle green" ng-if="task.status == 'ip'">IP</div>            
                            <div class="completeTime" ng-if="task.status == 'd'">
                                <span>Completed on </span>
                                <span>{{task.dueDate | amDateFormat: "ddd, DD MMM YYYY, h:mm:ss a"}}</span>
                            </div>
                            
                            <img src="img/blank.png" alt="" ng-onload selector-id="rTSWrapper" />
                        </div>
                    </div>
                    <!-- Please do not remove this blank 'div', fix a layout bug. -->
                    <div class="taskItemC taskItemLC taskItemSLC"></div>
                </div>
            </div>
        </div>
    </div>
    
</div>