<div class="app">

    <div class="navbar navbar-app navbar-absolute-top subTaskTopBar">

        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <i class="fa fa-bars subTaskGoBackButton" ng-click="redirectTo('/td');"></i>
            </div>
        </div>
        
        <span class="topBarTitle">Sub - Tasks</span>
        
        <!-- Screen out temporarily
        <div class="btn-group pull-right">
            <div class="btn btn-navbar">
                <img src="img/22.png" alt="" class="navIconSize tdCircleArrow" />
                <img src="img/19.png" alt="" class="navIconSize delete" />
            </div>
        </div>
        -->

        <div class="btn-group pull-right subTaskTopBalancer"></div>
    </div>
    
    <div class="subTaskMainC">
        <div class="subTaskTopC">
            <span class="subTaskSummaryTitleC">{{completedSubTasksAmount}} of {{subTasksAmount}} taks completed..</span>
        </div>
        <div class="subTaskMiddleC">
            <div class="subTaskItemC" bindonce ng-repeat="subTask in subTasks">
                <img class="pull-left subTaskDone" src="img/25.png" alt="" ng-if="subTask.status=='c'" />
                <span class="subTaskItemTitle">Sub - {{subTask.name}}</span>
                <img class="pull-right subTaskView" src="img/5.png" alt="" ng-click="deleteSubTask($index);" />
                <img class="pull-right subTaskDelete" src="img/20.png" alt="" ng-click="showChangeSubTaskBox($index);" />
            </div>
            <div class="addNewSubTaskC">
                <a href="" class="addSubTask" ng-click="addSubTasks();" ng-disabled="!subTaskName">Add Sub Task</a>
                <input type="text" class="subTaskName" ng-model="subTaskName" />
            </div>
        </div>
    </div>

    <div class="createLaneBox" ng-show="isShowChangeSubTaskBox">
        <div class="createLane">
            <div class="createLaneTitle">Change To Main Task</div>
            <span class="createLaneName">Description</span>
            <input class="laneNameValue" type="text" ng-model="data.description" />
            <div class="assignToC">
                <div for="" class="assignToTitle">Assign To:</div>
                <div class="assignToDropdownBox">
                    <button class="assignToButton" ng-click="selectTaskOwner();">{{taskOwner}}</button>
                </div>
            </div>
            <div class="createLaneConfirmBox">
                <span class="btn btn-primary createLaneOK"
                      ng-click="changeSubTaskToMainTask(); clearChangeToMainTaskScene();"
                      ng-disabled="!data.description">Ok</span>
                <span class="btn btn-default createLaneCancel" ng-click="clearChangeToMainTaskScene();">Cancel</span>
            </div>
        </div>
    </div>
    
</div>