<div class="app">

    <div class="navbar navbar-app navbar-absolute-top taskDetailsTopBar">

        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <i class="fa fa-bars tdCloseButton" ng-click="redirectTo('/pb');"></i>
            </div>
        </div>
        
        <span class="topBarTitle">Details</span>

        <div class="btn-group pull-right">
            <div class="btn btn-navbar">
                <img src="img/22.png" alt="" class="navIconSize tdCircleArrow" ng-click="updateTask();" />
                <!-- Screen out temporarily
                <img src="img/5.png" alt="" class="navIconSize delete" />
                -->
            </div>
        </div>

    </div>
    
    <div class="taskDetailsC">
        
        <div class="tdTopC">
            <div class="tdLC">
                <div class="tdTitleC">
                    <span>{{activeTask.description}}</span>
                </div>
                <div class="tdStatusC">
                    <div class="statusTitleBox">Status</div>
                    <div class="changeStatusBox">
                        <div class="dropdownKit">
                            <div class="selectedItemBody" ng-click="isShowMenu=!isShowMenu">
                                <div class="selectedItemValue">{{selectedStatusItem}}
                                    <div class="dropdownArrow"></div>
                                </div>                        
                            </div>                
                            <ul class="selectItems" ng-show="isShowMenu">
                                <li class="selectItem" ng-click="onItemClick(status);"
                                    ng-repeat="status in taskStatusList track by $index">{{status}}</li>
                            </ul>
                        </div>
                    </div>                    
                </div>
                <div class="tdAddTagC">
                    <div class="statusTitleBox">Project</div>
                    <div class="changeStatusBox" id="pushToProjectBox">
                        <div class="dropdownKit">
                            <div class="selectedItemBody" ng-click="isShowProjectMenu=!isShowProjectMenu">
                                <div class="selectedItemValue">{{selectedProjectItem}}
                                    <div class="dropdownArrow"></div>
                                </div>                        
                            </div>                
                            <ul class="selectItems" ng-show="isShowProjectMenu">
                                <li class="selectItem" ng-click="onProjectItemClick(project);"
                                    ng-repeat="project in pushToProjectArray track by $index">{{project}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tdRC">
                <div class="circleProgressBarC">
                    <orbicular progression="subTasksCompletedAmount" total="subTasksAmount" resize>
                        {{completeStatus}}%
                    </orbicular>
                </div>
                <div class="circleProgressBarTigle">Completed</div>
            </div>
        </div>
        
        <div class="tdMiddleC">
            <div class="tdMiddleItem descC">
                <span class="descTitle">
                    <input type="text" ng-model="activeTask.description" class="editTaskDesc" />
                </span>
                <!--
                <img class="pull-right" src="img/33.png" alt="" />
                -->
            </div>
            <div class="tdMiddleItem notesC">
                <span class="notesTitle">
                    <input type="text" ng-model="activeTask.data.notes" class="editTaskDesc" />
                </span>
                <!--
                <img class="pull-right" src="img/33.png" alt="" />
                -->
            </div>
            <div class="tdMiddleItem subTasksC" ng-click="redirectTo('st');">
                <span class="subTaskTitle">Sub - Tasks</span>
                <img class="pull-right" src="img/33.png" alt="" />
                <div class="pull-right subTitleC">
                    <span class="completed">{{subTasksCompletedAmount}} </span>of
                    <span class="taskSum">{{subTasksAmount}} </span>tasks completed..
                </div>
            </div>
            <div class="tdMiddleItem addPersonC">
                <span class="addPersonTitle" ng-click="changeTaskOwner();">Change Task Owner </span>
                <span class="currentOwner">{{activeTask.data.taskOwner}}</span>
                <img class="pull-right" src="img/33.png" alt="" />
            </div>
            <div class="tdMiddleItem dueDateC">
                <span class="dueDateTitle">Due Date:</span>

                <input class="dueDatePicker" type="text" pick-a-date="date" placeholder="Select Date" ng-model="dueDate" />

                <!--
                <img class="pull-right" src="img/33.png" ng-click="test();" alt="" />
                -->
            </div>
            <div class="tdMiddleItem ckBoardsC">
                <span class="ckBoardTitle">Change Kanban Boards</span>
                <img class="pull-right" src="img/33.png" alt="" />
            </div>
            <div class="tdMiddleItem attachmentsC">
                <span class="attachmentsTitle">Attachments</span>
                <img class="pull-right" src="img/33.png" alt="" />
            </div>
        </div>
        
    </div>
    
</div>