div.co-circle-progress {
  position: relative;
  width: 100%;
  height: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #bdbbbc;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em; }
  div.co-circle-progress *, div.co-circle-progress *:after, div.co-circle-progress *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  div.co-circle-progress > div.co-circle, div.co-circle-progress div.co-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    background: transparent;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-transition: -webkit-transform 0.3s linear;
    -moz-transition: -moz-transform 0.3s linear;
    -ms-transition: -ms-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear; }
  div.co-circle-progress > div.co-circle {
    clip: rect(0px, 1em, 1em, 0.5em); }
    div.co-circle-progress > div.co-circle > div.co-fill {
      clip: rect(0em, 0.5em, 1em, 0em);
      background-color: #3fb93b; }
  div.co-circle-progress > div.co-shadow {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2) inset;
    position: absolute;
    width: 1em;
    height: 1em;
    background: transparent;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em; }
  div.co-circle-progress > div.co-content {
    position: absolute;
    overflow: hidden;
    height: 0.84em;
    width: 0.84em;
    margin-left: 0.08em;
    margin-top: 0.08em;
    background-color: #e9e8e8;
    border-radius: 0.42em;
    -webkit-border-radius: 0.42em;
    -moz-border-radius: 0.42em;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2); }
    div.co-circle-progress > div.co-content > div {
      display: table;
      width: 100%;
      height: 100%; }
      div.co-circle-progress > div.co-content > div > div {
        display: table-row;
        width: 100%;
        height: 100%; }
        div.co-circle-progress > div.co-content > div > div > div {
          display: table-cell;
          font-size: 0.08em;
          color: white;
          line-height: 1em;
          text-align: center;
          vertical-align: middle;
          width: 100%; }

div.circleProgressBarC {
    width: 160px;
    height: 137px;
    margin: -12px 45px 0 0;
}

.co-content span {
    font-size: 40px;
    color: #4378c3;
}

.circleProgressBarTigle {
    margin: 30px 0 0 15px;
    color: #3b73c1;
}
