.wrapper {
	position: absolute;
	z-index: 1;
	top: 180px;
	bottom: 0;
	left: 0;
	width: 100%;
}

.scroller {
    position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.taskItemC {
    height: 188px;
    margin: 15px;
    border: 1px solid #8e8e8e;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: #ffffff;
}

.taskTitle {
    font-weight: bold;
    color: #3768a3;
    overflow: hidden;
    padding-right: 8px;
}

.taskAmount span {
    font-weight: bold;
    font-size: 32px;
}

.taskDate {
}

.taskDate span {
    font-weight: bold;
}

.taskOwner {
    float: left;
}

.taskOwner img {
    width: 40px;
}

.taskStatus {
    float: right;
    border: 1px solid #333333;
    margin: 0 0 10px 0;
    width: 40px;
    height: 40px;
}

.completeTime {
    float: right;
    margin: 0 0 15px 0;
}

.noTask {
	text-align: center;
	padding: 220px 0 400px 0;
}

.taskStatus {
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	padding: 6px 0 0 0;
}