.notifCircle {
    display: block;
    width: 36px;
    height: 36px;
    background-color: #5066b9;
    border-radius: 50px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin: 15px 0 0 0;
}

.notifCircleValue {
    display: block;
    margin: 6px 0 0 0;
}

.logoImg {
    background: url(../../img/logo.png) no-repeat 5px 30px;
    background-size: 50px;
    float: left;
    width: 55px;
    height: 110px;
}

.lpbButton {
    width: 60px;
    height: 110px;
    background: url(../../img/4.png) no-repeat 5px 38px;
    background-size: 50px;
    float: left;
}

.lpbTtitle {
    display: block;
    margin: 28px 0 0 70px;
    width: 300px;
    font-size: 32px;
    font-weight: bold;
}

.navIconSize {
    width: 50px;
}

.downCircleArrow {
    margin: 30px 25px 0 0;
}

.circlePlus {
    margin: 30px 5px 0 0;
}

.titleC {
    height: 70px;
    width: 100%;
    margin-top: 110px;
    background-color: #f3f3f3;
    font-size: 26px;
    position: absolute;
    z-index: 99;
}

.taskC {
    margin-top: 180px;
}

.notif {
    background: url(../../img/6.png) no-repeat left 23px;
    background-size: 40px;
}

.memb {
    background: url(../../img/7.png) no-repeat left 23px;
    background-size: 40px;
}

.cald {
    background: url(../../img/8.png) no-repeat left 23px;
    background-size: 40px;
}

.board {
    background: url(../../img/9.png) no-repeat left 23px;
    background-size: 40px;
}

.kanban {
    background: url(../../img/10.png) no-repeat left 23px;
    background-size: 40px;
}

.logout {
    background: url(../../img/logout.png) no-repeat left 23px;
    background-size: 40px;
}

.bcp {
    background: url(../../img/28.png) no-repeat left 20px;
    background-size: 30px;
    width: 30px;
    height: 50px;
}

#aboutLane {
    right: 24px;
}

.createLaneBox {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.createLane {
    position: absolute;
    border: 1px solid #333333;
    border-radius: 15px;
    width: 80%;
    z-index: 99999;
    left: 10%;
    top: 250px;
    background-color: #ffffff;
    padding: 15px 0 0 15px;
}

.createLaneTitle {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 30px 0
}

.createLaneName {
    display: block;
    margin: 0 0 20px 0;
}

.laneNameValue {
    width: 95%;
    height: 70px;
    margin: 0 0 20px 20px;
    border: 1px solid #333333;
    border-radius: 15px;
}

.createLaneConfirmBox {
    text-align: center;
    margin: 0 0 30px 0;
}

.createLaneOK {
    height: 70px;
    width: 30%;
    font-size: 30px;
    padding: 13px 0 0 0;
    margin: 0 30px 0 0;
}

.createLaneCancel {
    height: 70px;
    font-size: 30px;
    padding: 13px 0 0 0;
    width: 25%;
}

.taskNameC input {
    height: 70px;
    border: 1px solid #333333;
    width: 95%;
    padding: 3px 0 3px 5px;
    margin-left: 15px;
}

.taskDescC input {
    height: 70px;
    border: 1px solid #333333;
    width: 95%;
    padding: 3px 0 3px 5px;
    margin-left: 15px;
}

.assignToButton {
    height: 70px;
    width: 95%;
    border: none;
    margin: 0 0 20px 20px;
    border-radius: 15px;
}

.underline {
    width: 78px;
    margin: 0 auto;
    height: 1px;
    border: 1px solid #333333;
}