.notifTopBar {
    background-color: #f3f3f3;
    border: none;
    text-align: center;
    padding-top: 30px;
}

.notifGoBackButton {
    width: 60px;
    height: 110px;
    background: url(../../img/21.png) no-repeat 5px 6px;
    background-size: 50px;
    float: left;
}

.notifTtitle {
    display: block;
    margin: 28px 0 0 0;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #1f1d2b;
}

.notifCircleDownArrow {
    margin: -5px 25px 0 0;
}

.notifCirclePlus {
    margin: -5px 5px 0 0;
}

.notifTitleC {
    margin-top: 110px;
    width: 100%;
}

.notifTitleItemC {
    float: left;
    width: 33.33333%;
    height: 70px;
    background-color: #ffffff;
}

.notifTitleItem {
    text-align: center;
    height: 70px;
    width: 100%;
    padding: 14px 0 0 0;
}

.notifC {
    margin-top: 180px;
}

#notifListWrapper {
    padding: 20px 15px 20px 15px;
    z-index: -1;
}

.notifItemC {
    height: 160px;
    border-bottom: 1px solid #f3f3f3;
    margin: 0 30px 30px 30px;
}

.notifLAvatorC {
    float: left;
    width: 20%;
    height: 100%;
}

.notifUserAvatorBox {
    width: 50px;
    margin: 50px auto;
}

.notifUserAvator {
    width: 50px;
}

.notifRConC {
    float: right;
    width: 80%;
    height: 100%;
    line-height: 180%;
}

.notifUsernameC {
    color: #3f84d1;
    font-size: 30px;
}

.notifTextC {
}

.notifCreateTimeC {
    color: #9dadce;
    font-size: 25px;
}

.notifAllTitle {
    display: block;
    margin: 50px 0 0 0;
}

#notifMissedTaskListWrapper {
    z-index: -1;
}

.noMissedTasks {
    text-align: center;
    padding: 20% 0 0 0;
}

.notifTopBalancer {
    width: 84px;
    height: 110px;
}