.taskEditBarC {
    float: right;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #8e8e8e;
}

.taskEditBarC img {
    width: 50px;
}

.taskEditBarItemC {
    float: left;
    width: 25%;
}

.taskEditBarIconC {
    width: 50px;
    margin: 0 auto;
    padding-top: 32px;
}

#starIcon {
    width: 65px;
    max-width: 65px;
}