.addNewTaskC {
    background-color: #4250b4;
    position: relative;
}

.addNewTaskIC {
    background-color: #2c3792;
    position: absolute;
    height: 80px;
    margin: 10px 0 10px 0;
    right: 10px;
    left: 10px;
    border-radius: 8px;
}

.addNewTaskLC {
    color: #e6e6ec;
    float: left;
    width: 45%;
    cursor: pointer;
    border-right: 5px solid #727791;
    height: 100%;
}

.addTaskTitle {
    display: block;
    margin: 18px 0 0 15px;
    background-color: #2c3792;
    border: none;
}

.addNewTaskRC {
    float: right;
    width: 55%;
    padding-left: 8px;
}

.addNewTaskInput {
    border: none;
    width: 100%;
    background-color: #2c3792;
    margin: 18px 0 0 0;
    color: #ffffff;
}