.calendarTopBar {
    background-color: #f3f3f3;
    border: none;
    text-align: center;
    padding-top: 30px;
}

.calButton {
    width: 60px;
    height: 110px;
    background: url(../../img/21.png) no-repeat 5px 6px;
    background-size: 50px;
    float: left;
}

.calTtitle {
    display: block;
    margin: 28px 0 0 70px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #1f1d2b;
}

.eye {
    margin: -5px 5px 0 0;
}

.calendarC {
    margin: 110px 0 0 0;
    padding-bottom: 15px;
    float: left;
    width: 100%;
    background-color: #ffffff;
}

.calendarTitleC {
    background-color: #3970c2;
    height: 50px;
    padding: 20px 8px 60px 8px;
}

.lastMonthC {
    float: left;
    width: 25%;
    background: url(../../img/30.png) no-repeat 20% 0;
    background-size: 40px;
    padding: 0 0 0 12%;
    color: #d1caec;
}

.activeMonthC {
    float: left;
    width: 50%;
    text-align: center;
    color: #f5ffff;
}

.nextMonthC {
    float: left;
    width: 25%;
    text-align: right;
    background: url(../../img/31.png) no-repeat 77% 0;
    background-size: 40px;
    padding: 0 12% 0 0;
    color: #d1caec;
}

.calendarConC {

}

.calcendarTitleC {
    height: 50px;
    background-color: #3970c2;
    padding: 5px 0;
    color: #d3dbe6;
}

.weekItemC {
    float: left;
    width: 14.2857%;
    text-align: center;
}

.weekItem {

}

.dayConC {
    padding-top: 20px;
}

.dayItemC {
    float: left;
    width: 14.2857%;
    height: 50px;
    text-align: center;
    position: relative;
}

.dayItem {
}

.dayDisabled {
    color: #D1CACA;
}

.taskTag {
    background-color: #3970c2;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    position: absolute;
    left: 44%;
    top: 58%;
}

.taskClickTag {
    width: 38px;
    height: 38px;
    border-radius: 50px;
    background-color: rgba(14, 108, 247, 0.78);
    position: absolute;
    top: 0;
    left: 32%;
}

.addNewTaskTPLC {
    float: right;
    height: 100px;
    width: 100%;
    background-color: #4454bc;
}

.taskSummaryBarTPLC {
    float: right;
    height: 100px;
    width: 100%;
}

.calenderTaskSummaryListTPLC {
    float: right;
    width: 100%;
}

#taskSLInCalWrapper {
    z-index: -1;
}