.memberTopBar {
    background-color: #f3f3f3;
    border: none;
    text-align: center;
    padding-top: 30px;
}

.memberGoBackButton {
    width: 60px;
    height: 110px;
    background: url(../../img/21.png) no-repeat 5px 6px;
    background-size: 50px;
    float: left;
}

.memberTtitle {
    display: block;
    margin: 28px 0 0 70px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #1f1d2b;
}

.memCircleDownArrow {
    margin: -5px 25px 0 0;
}

.memCirclePlus {
    margin: -5px 5px 0 0;
}

.popupMenuBox {
    position: absolute;
    top: 100px;
    right: 30px;
    z-index: 99999;
    border: 1px solid #c7c6c6;
    border-radius: 10px;
    width: 200px;
    height: 110px;
    background-color: #ffffff;
}

.trangleBorder {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 23px solid #c7c6c6;
    position: absolute;
    top: -23px;
    left: 88px;
}

.trangleBody {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 23px solid #ffffff;
    position: absolute;
    top: -22px;
    left: 88px;
}

.menuBox {
    height: 100%;
}

.editItem {
    border-bottom: 1px solid #c7c6c6;
    height: 50%;
    padding: 5px 0 0 15px;
}

.deleteItem {
    padding: 5px 0 0 15px;
}

.userListC {
    margin: 125px 15px 0 15px;
}

#userListWrapper {
    top: 125px;
}

.userItemC {
    float: left;
    width: 33.33333%;
    height: 290px;
    position: relative;
}

.userConCTRB{
    height: 100%;
    border-top: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}

.userConCTB{
    height: 100%;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}

.userConCRB{
    height: 100%;
    border-right: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}

.userConCB{
    height: 100%;
    border-bottom: 1px solid #f7f7f7;
}

.userConC {
    height: 100%;
    border-bottom: 1px solid #f7f7f7;
}

.userAvatorBox {
    margin: 0 auto;
    padding: 20px 0;
    width: 150px;
}

.userAvator {
    width: 150px;
}

.userName {
    text-align: center;
    color: #3e82d0;
    font-size: 30px;
}

.userRole {
    text-align: center;
}

.userSelectedTag {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
}